/* body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box ;
} */

body {
  font-family: Arial, sans-serif;
}
button {
  font-family: Arial, sans-serif;
}
header {
  display: flex;
  /* background-color: lightblue; */
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  /* background: lightblue; */
  flex: 1;
}
.logo {
  font-weight: 500;
  margin-top: 80px;
  margin-left: -80px;
}
.threedots{
    width: 80px;
    height:auto;
}
nav {
  /* background: rgb(110, 240, 59); */
  flex: 2;
}
.nav-links {
  justify-content: space-around;
  list-style: none;
}
.nav-link {
  color: #607064;
  font-size: 18px;
  text-decoration: none;
}
.cart {
  /* background: rgb(212, 146, 39); */
  flex: 1;
  justify-content: flex-end;
}

/* .imagemate {
  
  /* height: 600px;
} */

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}
.introduction {
  /* background-color: lightblue; */
  flex: 1;
}
.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, rgb(65, 71, 77), rgb(160, 174, 179));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #607064;
}
.cta {
  padding: 50px 0px 0px 0px;
}
.cta-select {
  border: 2px solid darksalmon;
  background: transparent;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}
.cta-add {
  background: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: white;
  margin: 30px 0px 0px 30px;
}
.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 30vw;
  height: 60vh;
}
.cover img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1 ease;
}
/* .cover img:hover {
  background-image: url("matebook1.jpg");
  background-size: 50%;
} */

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  background: transparent;
  z-index: -1;
  opacity: 0.7;
  height: 80%;
}
.mid-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}
.small-circle {
  position: absolute;
  bottom: 0%;
  top: 50%;
  left: 20%;
  z-index: -1;
}

.laptop-select {
  width: 15%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20%;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }
  .laptop-select {
    bottom: 5%;
    right: 50%;
    width: 50%;
    transform: translate(50%, 5%);
  }
  .cover img {
    height: 100%;
    width:100%;
  }
  .small-circle,
  .mid-circle,
  .big-circle {
    opacity: 0.2;
  }
}

/* @media screen and(max-width:360px) {
    
} */
